/* Lyfe Logo font */
@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');

/* constants */
:root{
    --orange-logo--: #FFA500;
}

/* font family */
.quando-regular {
    font-family: "Quando", serif;
    font-weight: 400;
    font-style: normal;
}

