/* Lyfe Logo font */
@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');

/* constants */
:root {
    --orange-logo--: #FFA500;
}

/* font family */
.quando-regular {
    font-family: "Quando", serif;
    font-weight: 400;
    font-style: normal;
}

.text {
    font-family: "Quando", serif;
    font-size: 50px;
    color: #FFA500;
}

.reglog {
    font-weight: bolder;
    position: relative;
}

.text a:link {
    color: #FFA500;
}

.links:link {
    color: #FFA500;
    text-decoration: none;
}

.links:visited {
    color: #FFA500;
    text-decoration: none;
}

.title {
    font-size: 80px;
}

.rtext {
    text-align: right;
}

.mtext {
    text-align: center;
}

.ltext {
    text-align: left;
}

.dropbtn {
    background-color: white;
    border: 0;
    font-size: 40px;
    font-weight: 600;
    padding-right: 0;
}

.dropbtn:hover {
    border-bottom: #fd7e14 5px solid;
}

.dropbtn-people {
    background-color: white;
    border: 0;
    border-bottom: #fd7e14 5px solid;
    font-size: 40px;
    font-weight: 600;
}

.dropdown {
    position: relative;
    background-color: white;
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: white;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.arrow {
    width: 30px;
    margin-left: 0;
    transition: transform 0.2s ease;
}

.dropdown:hover .arrow {
    transform: rotate(180deg);
}

.border {
    height: 5px;
    background-color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bigimg {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.paragraph {
    font-family: "Quando", serif;
    font-size: 20px;
    color: black;
    text-align: center;
}

.logbtn {
    width: 200px;
    border: none;
}